<a href="https://colab.research.google.com/github/Ricardomanuel1/UTEC_MACHINE-LEARNING/blob/main/Modulo1_Python_Data_Science/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Librería de Python PANDAS - almacenamiento y manipulación de datos en "dataframes" (tablas)**
*Material adaptado de [PhD. Jennifer Widom](https://cs.stanford.edu/people/widom/).*

In [30]:
# Configuración
import pandas as pd
import numpy as np
import pylab as pl
pd.set_option('display.min_rows', 20)#con eso le indicamos que cuando muestre una tabla que sean como minimo 20 filas

In [31]:
# Cargue todos los archivos de datos:
# Cities.csv, Countries.csv, Players.csv, Teams.csv, Titanic.csv

# Si ejecuta notebook en una computadora local:
    # 1. No es necesario ejecutar esta celda (generará un error)
    # 2. Asegúrese de que los archivos de datos estén en el mismo espacio
    #    de trabajo que el cuaderno.
#from google.colab import files
#uploaded = files.upload()

### Lectura del archivo CSV al "dataframe"

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
#OPCION 1.-Carga directamente de una carpeta del drive
cities=pd.read_csv('/content/drive/MyDrive/Python2022_MachineLearning/Cities.csv')

In [34]:
#OPCION 2.-Se carga un archivo de forma temporal al lado izquierdo, pero el archivo luego de un tiempo desaparece
#cities = pd.read_csv(open("Cities.csv"))#también se puede utilizar la expresión

In [35]:
#OPCION 3.- Es la misma que la anterior pero con más detalle
#f = open('Cities.csv')
#cities = pd.read_csv(f)

In [36]:
cities.head(3)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20

In [37]:
# len nos permite conocer el número de registros
len(cities)

213

In [38]:
# Primeras filas
#cities.head(10)# si () mostrará las 4 primeras filas y si es (10) mostrará las 10 primeras filas.
cities.head()#solo muestra las 4 primeras filas

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62

In [39]:
cities.tail(5)#Permite conocer las ultmas filas

            city      country  latitude  longitude  temperature
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

**ORDENAMIENTO DE COLUMNAS**

In [40]:
cities.sort_values(['latitude'],ascending=True).head(3)

          city country  latitude  longitude  temperature
5    Algeciras   Spain     36.13      -5.47        17.38
136   Marbella   Spain     36.52      -4.88        17.19
12     Antalya  Turkey     36.89      30.70        11.88

In [41]:
cities.sort_values(['temperature'],ascending=False)#ordena un data frame considerando la columna temperatura  en forma descendente

          city  country  latitude  longitude  temperature
3        Adana   Turkey     36.99      35.32        18.67
156    Palermo    Italy     38.13      13.35        17.90
14      Athens   Greece     37.98      23.73        17.41
5    Algeciras    Spain     36.13      -5.47        17.38
59   Cartagena    Spain     37.60      -0.98        17.32
108   Kalamata   Greece     37.04      22.11        17.30
136   Marbella    Spain     36.52      -4.88        17.19
103     Huelva    Spain     37.25      -6.93        17.09
157     Patras   Greece     38.23      21.73        16.90
68     Cosenza    Italy     39.27      16.29        16.60
..         ...      ...       ...        ...          ...
35        Bodo   Norway     67.25      14.40         4.50
193      Tartu  Estonia     58.38      26.71         4.36
100   Helsinki  Finland     60.18      24.93         4.19
201    Uppsala   Sweden     59.86      17.64         4.17
191    Tampere  Finland     61.50      23.75         3.59
152       Oslo   Norway     59.92      10.75         2.32
27      Bergen   Norway     60.39       5.32         1.75
154       Oulu  Finland     65.00      25.47         1.45
2       Abisko   Sweden     63.35      18.83         0.20
116     Kiruna   Sweden     67.85      20.22        -2.20

[213 rows x 5 columns]

In [42]:
cities.sort_values(["latitude"],ascending=True)

          city  country  latitude  longitude  temperature
5    Algeciras    Spain     36.13      -5.47        17.38
136   Marbella    Spain     36.52      -4.88        17.19
12     Antalya   Turkey     36.89      30.70        11.88
192     Tarsus   Turkey     36.92      34.88        11.21
3        Adana   Turkey     36.99      35.32        18.67
108   Kalamata   Greece     37.04      22.11        17.30
89   Gaziantep   Turkey     37.07      37.38        13.46
94     Granada    Spain     37.16      -3.59        16.33
109    Karaman   Turkey     37.18      33.22        10.41
103     Huelva    Spain     37.25      -6.93        17.09
..         ...      ...       ...        ...          ...
152       Oslo   Norway     59.92      10.75         2.32
100   Helsinki  Finland     60.18      24.93         4.19
27      Bergen   Norway     60.39       5.32         1.75
200      Turku  Finland     60.45      22.25         4.72
191    Tampere  Finland     61.50      23.75         3.59
2       Abisko   Sweden     63.35      18.83         0.20
199  Trondheim   Norway     63.42      10.42         4.53
154       Oulu  Finland     65.00      25.47         1.45
35        Bodo   Norway     67.25      14.40         4.50
116     Kiruna   Sweden     67.85      20.22        -2.20

[213 rows x 5 columns]

In [43]:
# sort.values permite ordenar una o más columnas en forma ascendente o descendente
#el siguiente código ordena considerando dos columnas
#cities.sort_values(['city','country'],ascending=[True,True])
cities.sort_values(['country','temperature'],ascending=[True,False])#country ascendente (true) y temperature descendente (false)

           city         country  latitude  longitude  temperature
78      Elbasan         Albania     41.12      20.08        15.18
9       Andorra         Andorra     42.50       1.52         9.60
203      Vienna         Austria     48.20      16.37         7.86
95         Graz         Austria     47.08      15.41         6.91
125        Linz         Austria     48.32      14.29         6.79
175    Salzburg         Austria     47.81      13.04         4.62
105   Innsbruck         Austria     47.28      11.41         4.54
47        Brest         Belarus     52.10      23.70         6.73
161       Pinsk         Belarus     52.13      26.09         6.42
138       Mazyr         Belarus     52.05      29.27         6.25
..          ...             ...       ...        ...          ...
58    Cambridge  United Kingdom     52.20       0.12         9.25
34    Blackpool  United Kingdom     53.83      -3.05         9.15
33   Birmingham  United Kingdom     52.47      -1.92         8.81
92      Glasgow  United Kingdom     55.87      -4.25         8.60
24      Belfast  United Kingdom     54.60      -5.96         8.48
41     Bradford  United Kingdom     53.80      -1.75         8.39
1      Aberdeen  United Kingdom     57.17      -2.08         8.10
106   Inverness  United Kingdom     57.47      -4.23         8.00
76    Edinburgh  United Kingdom     55.95      -3.22         7.43
75       Dundee  United Kingdom     56.47      -3.00         6.40

[213 rows x 5 columns]

In [44]:
cities.sort_values(["latitude","longitude"],ascending=[True,False])

          city  country  latitude  longitude  temperature
5    Algeciras    Spain     36.13      -5.47        17.38
136   Marbella    Spain     36.52      -4.88        17.19
12     Antalya   Turkey     36.89      30.70        11.88
192     Tarsus   Turkey     36.92      34.88        11.21
3        Adana   Turkey     36.99      35.32        18.67
108   Kalamata   Greece     37.04      22.11        17.30
89   Gaziantep   Turkey     37.07      37.38        13.46
94     Granada    Spain     37.16      -3.59        16.33
109    Karaman   Turkey     37.18      33.22        10.41
103     Huelva    Spain     37.25      -6.93        17.09
..         ...      ...       ...        ...          ...
152       Oslo   Norway     59.92      10.75         2.32
100   Helsinki  Finland     60.18      24.93         4.19
27      Bergen   Norway     60.39       5.32         1.75
200      Turku  Finland     60.45      22.25         4.72
191    Tampere  Finland     61.50      23.75         3.59
2       Abisko   Sweden     63.35      18.83         0.20
199  Trondheim   Norway     63.42      10.42         4.53
154       Oulu  Finland     65.00      25.47         1.45
35        Bodo   Norway     67.25      14.40         4.50
116     Kiruna   Sweden     67.85      20.22        -2.20

[213 rows x 5 columns]

**SERIES VS DATAFRAME**

**SERIE DE UN DATAFRAME**

In [45]:
# Al seleccionar una sola columa - retorna una 'serie'
cities.city#retorna una serie es como si tuviera un solo corchete

0          Aalborg
1         Aberdeen
2           Abisko
3            Adana
4         Albacete
5        Algeciras
6           Amiens
7        Amsterdam
8           Ancona
9          Andorra
          ...
203         Vienna
204           Vigo
205        Vilnius
206         Warsaw
207        Wroclaw
208    Yevpatoriya
209       Zaragoza
210       Zhytomyr
211      Zonguldak
212         Zurich
Name: city, Length: 213, dtype: object

In [46]:
cities['city']#con un solo corchete retorna una serie y no un dataframe

0          Aalborg
1         Aberdeen
2           Abisko
3            Adana
4         Albacete
5        Algeciras
6           Amiens
7        Amsterdam
8           Ancona
9          Andorra
          ...
203         Vienna
204           Vigo
205        Vilnius
206         Warsaw
207        Wroclaw
208    Yevpatoriya
209       Zaragoza
210       Zhytomyr
211      Zonguldak
212         Zurich
Name: city, Length: 213, dtype: object

In [47]:
#cities.temperature es igual a escribir cities['temperature']
cities.temperature

0       7.52
1       8.10
2       0.20
3      18.67
4      12.62
5      17.38
6      10.17
7       8.93
8      13.52
9       9.60
       ...
203     7.86
204    12.85
205     5.38
206     7.20
207     7.17
208    10.02
209    14.17
210     6.67
211    10.64
212     6.68
Name: temperature, Length: 213, dtype: float64

In [48]:
cities['temperature']

0       7.52
1       8.10
2       0.20
3      18.67
4      12.62
5      17.38
6      10.17
7       8.93
8      13.52
9       9.60
       ...
203     7.86
204    12.85
205     5.38
206     7.20
207     7.17
208    10.02
209    14.17
210     6.67
211    10.64
212     6.68
Name: temperature, Length: 213, dtype: float64

In [49]:
# Mostrar cities['city'] es igual cities.city, cities['temperature'] es igual a cities.temperature

**DATAFRAME DE UN DATAFRAME**

In [50]:
cities[['city']]#doble corchete retorna un dataframe, en este caso es un dataframe de una sola columna

            city
0        Aalborg
1       Aberdeen
2         Abisko
3          Adana
4       Albacete
5      Algeciras
6         Amiens
7      Amsterdam
8         Ancona
9        Andorra
..           ...
203       Vienna
204         Vigo
205      Vilnius
206       Warsaw
207      Wroclaw
208  Yevpatoriya
209     Zaragoza
210     Zhytomyr
211    Zonguldak
212       Zurich

[213 rows x 1 columns]

In [51]:
# Al seleccioanr múltiples columnas - retorna un "dataframe"
cities[['city','temperature']]#por tener dos columas ya no puede ser una serie es un dataframe entons debe ir con doble corchete
#cities[['city']]#retorna un dataframe de una sola columna

            city  temperature
0        Aalborg         7.52
1       Aberdeen         8.10
2         Abisko         0.20
3          Adana        18.67
4       Albacete        12.62
5      Algeciras        17.38
6         Amiens        10.17
7      Amsterdam         8.93
8         Ancona        13.52
9        Andorra         9.60
..           ...          ...
203       Vienna         7.86
204         Vigo        12.85
205      Vilnius         5.38
206       Warsaw         7.20
207      Wroclaw         7.17
208  Yevpatoriya        10.02
209     Zaragoza        14.17
210     Zhytomyr         6.67
211    Zonguldak        10.64
212       Zurich         6.68

[213 rows x 2 columns]

**FILTROS POR COLUMNAS**

In [52]:
cities[["country","temperature"]]#tiene que ir con doble corchetes para ser un dataframe
#cities['country','temperature']#es un error el código debido que una serie solo puede tener una columna,
#dos columnas ya es un dataframe y debe ir con doble corchetes

            country  temperature
0           Denmark         7.52
1    United Kingdom         8.10
2            Sweden         0.20
3            Turkey        18.67
4             Spain        12.62
5             Spain        17.38
6            France        10.17
7       Netherlands         8.93
8             Italy        13.52
9           Andorra         9.60
..              ...          ...
203         Austria         7.86
204           Spain        12.85
205       Lithuania         5.38
206          Poland         7.20
207          Poland         7.17
208         Ukraine        10.02
209           Spain        14.17
210         Ukraine         6.67
211          Turkey        10.64
212     Switzerland         6.68

[213 rows x 2 columns]

In [53]:
#cities.longitude < 0 #es una serie y se obtiene como resultado un booleano
cities[cities.longitude < 0].head(4)#para convertir el código anterior a dataframe se debe colocar el nombre de dataframe y corchetes dentro va la serie anterior.
#cities.dtypes   muestra que tipo de dato tiene cada columna (en panda solo se visualiza el ultimo codigo)

         city         country  latitude  longitude  temperature
1    Aberdeen  United Kingdom     57.17      -2.08         8.10
4    Albacete           Spain     39.00      -1.87        12.62
5   Algeciras           Spain     36.13      -5.47        17.38
10     Angers          France     47.48      -0.53        10.98

In [54]:
cities[cities['longitude']<0].head(4)

         city         country  latitude  longitude  temperature
1    Aberdeen  United Kingdom     57.17      -2.08         8.10
4    Albacete           Spain     39.00      -1.87        12.62
5   Algeciras           Spain     36.13      -5.47        17.38
10     Angers          France     47.48      -0.53        10.98

In [55]:
cities[cities.temperature>17].head(4)#lo que esta dentro del parentesis es una serie

         city country  latitude  longitude  temperature
3       Adana  Turkey     36.99      35.32        18.67
5   Algeciras   Spain     36.13      -5.47        17.38
14     Athens  Greece     37.98      23.73        17.41
59  Cartagena   Spain     37.60      -0.98        17.32

In [56]:
cities[cities['temperature']>17].head(4)#este código expresa lo mismo que el anterior

         city country  latitude  longitude  temperature
3       Adana  Turkey     36.99      35.32        18.67
5   Algeciras   Spain     36.13      -5.47        17.38
14     Athens  Greece     37.98      23.73        17.41
59  Cartagena   Spain     37.60      -0.98        17.32

In [57]:
cities[cities.temperature>18]

    city country  latitude  longitude  temperature
3  Adana  Turkey     36.99      35.32        18.67

In [58]:
cities[cities['temperature']>18]

    city country  latitude  longitude  temperature
3  Adana  Turkey     36.99      35.32        18.67

In [59]:
cities.head(3)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20

In [60]:
cities[cities.country=='Sweden']#filtro de todos los registros del país Sweden

          city country  latitude  longitude  temperature
2       Abisko  Sweden     63.35      18.83         0.20
93    Göteborg  Sweden     57.75      12.00         5.76
116     Kiruna  Sweden     67.85      20.22        -2.20
134      Malmö  Sweden     55.58      13.03         7.33
186  Stockholm  Sweden     59.35      18.10         6.26
201    Uppsala  Sweden     59.86      17.64         4.17

In [61]:
cities[cities['country']=='Sweden']

          city country  latitude  longitude  temperature
2       Abisko  Sweden     63.35      18.83         0.20
93    Göteborg  Sweden     57.75      12.00         5.76
116     Kiruna  Sweden     67.85      20.22        -2.20
134      Malmö  Sweden     55.58      13.03         7.33
186  Stockholm  Sweden     59.35      18.10         6.26
201    Uppsala  Sweden     59.86      17.64         4.17

In [62]:
cities[cities['city']=='Abisko']

     city country  latitude  longitude  temperature
2  Abisko  Sweden     63.35      18.83          0.2

**FILTROS POR FILAS**

In [63]:
# Seleccionando filas por número
cities[0:6]
# Mostrar cities[:8] y cities[200:]#similar a lo que se puede realizar con head()y tail()

        city         country  latitude  longitude  temperature
0    Aalborg         Denmark     57.03       9.92         7.52
1   Aberdeen  United Kingdom     57.17      -2.08         8.10
2     Abisko          Sweden     63.35      18.83         0.20
3      Adana          Turkey     36.99      35.32        18.67
4   Albacete           Spain     39.00      -1.87        12.62
5  Algeciras           Spain     36.13      -5.47        17.38

In [64]:
filtro1=cities[(cities['latitude']>50)  &  (cities['longitude']>28)]
filtro1

          city  country  latitude  longitude  temperature
63   Chernihiv  Ukraine     51.50      31.30         5.92
115       Kiev  Ukraine     50.43      30.52         6.88
138      Mazyr  Belarus     52.05      29.27         6.25
151      Orsha  Belarus     54.52      30.42         4.93
187       Sumy  Ukraine     50.92      34.78         6.28
210   Zhytomyr  Ukraine     50.25      28.66         6.67

In [65]:
# Ahora, todo junto: seleccionar filas y columnasde todas las ciudades con
#Realizar un filtro con latitude mayor a 50 y temperature mayor a 9, al final ordenarlas por longitude

temp1=cities[(cities.latitude>50) & (cities.temperature>9)]
temp2=temp1[["city","longitude"]]#solo mostraremos dos columnas city y longitude
temp3=temp2.sort_values(["longitude"],ascending=False)
temp3

# Mostrar eliminando las variables temp3, temp2 y temp1 (utiliznado \)

#result = cities[(cities.latitude > 50) & (cities.temperature > 9)]\
        #[['city','longitude']]\
        #.sort_values('longitude')
#result

            city  longitude
49        Brugge       3.23
123        Lille       3.08
58     Cambridge       0.12
40   Bournemouth      -1.90
34     Blackpool      -3.05
84        Exeter      -3.53
188      Swansea      -3.95
67          Cork      -8.50
88        Galway      -9.05

### <font color="green">**Tu turno**</font>

In [66]:
# Leer el archivo Countries.csv en un "dataframe"
countries = pd.read_csv('/content/drive/MyDrive/Python2022_MachineLearning/Countries.csv')

In [67]:
countries.head(5)

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no
3  Belarus        9.48   no        no
4  Belgium       11.37  yes       yes

In [68]:
# Encuentre todos los países que no están en la UE y no tienen costa,
# junto con sus poblaciones, ordenados por población (de menor a mayor)
f1=countries[(countries['EU']=='no') & (countries['coastline']=='no')]
f2=f1[['country','population']].sort_values('population',ascending=False)
f2

          country  population
3         Belarus        9.48
33         Serbia        8.81
38    Switzerland        8.38
26        Moldova        4.06
25      Macedonia        2.08
20         Kosovo        1.91
1         Andorra        0.07
22  Liechtenstein        0.04

In [69]:
# Encuentre todos los países que no están en la UE y no tienen costa,
# junto con sus poblaciones, ordenados por población (de menor a mayor)
# este codigo y el anterior son iguales se obtine lo mismo, per este último es más reducido

result=countries[(countries.EU == 'no') & (countries.coastline == 'no')]\
        [['country','population']]\
        .sort_values('population')
result

          country  population
22  Liechtenstein        0.04
1         Andorra        0.07
20         Kosovo        1.91
25      Macedonia        2.08
26        Moldova        4.06
38    Switzerland        8.38
33         Serbia        8.81
3         Belarus        9.48

In [70]:
countries.head(3)

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no

### Agregación

In [71]:
len(cities)

213

In [72]:
cities.head(3)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20

In [73]:
from numpy.core.fromnumeric import mean
# Temperatura mínima y máxima
print('Temperatura mínima:', min(cities.temperature))
print('Temperatura máxima:', max(cities['temperature']))
print('Temperatura promedio:', round(sum(cities['temperature'])/len(cities),2))
print('Temperatura promedio:', mean(cities['temperature']))

Temperatura mínima: -2.2
Temperatura máxima: 18.67
Temperatura promedio: 9.5
Temperatura promedio: 9.497840375586854

In [74]:
max(cities.temperature)

18.67

In [75]:
cities['temperature'].max()

18.67

In [76]:
max(cities['temperature'])

18.67

In [77]:
mean(cities['temperature'])

9.497840375586854

In [78]:
# Temperatura promedio
print('Utilizando el promedio numpy:', np.average(cities.temperature))
print('Usando la media incorporada en pandas:', cities.temperature.mean())

Utilizando el promedio numpy: 9.497840375586854
Usando la media incorporada en pandas: 9.497840375586854

In [79]:
cities.head(3)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20

In [80]:
# Temperatura media de las ciudades de cada país
cities.groupby('country').mean().temperature
# o [['temperature']]
# Cambiar mean() a min()
# O utilizar .temperature.mean()

<ipython-input-80-cf40d122e9d8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cities.groupby('country').mean().temperature

country
Albania                   15.180000
Andorra                    9.600000
Austria                    6.144000
Belarus                    5.946667
Belgium                    9.650000
Bosnia and Herzegovina     9.600000
Bulgaria                  10.440000
Croatia                   10.865000
Czech Republic             7.856667
Denmark                    7.625000
Estonia                    4.590000
Finland                    3.487500
France                    10.151111
Germany                    7.869286
Greece                    16.902500
Hungary                    9.602500
Ireland                    9.300000
Italy                     13.474667
Latvia                     5.270000
Lithuania                  6.143333
Macedonia                  9.360000
Moldova                    8.415000
Montenegro                 9.990000
Netherlands                8.756667
Norway                     3.726000
Poland                     7.250000
Portugal                  14.470000
Romania                    9.224444
Serbia                     9.850000
Slovakia                   8.480000
Slovenia                   9.270000
Spain                     14.238333
Sweden                     3.586667
Switzerland                7.253333
Turkey                    11.726667
Ukraine                    7.420000
United Kingdom             8.650000
Name: temperature, dtype: float64

### <font color="green">**Tu turno**</font>

In [81]:
countries.head(5)

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no
3  Belarus        9.48   no        no
4  Belgium       11.37  yes       yes

In [82]:
# Encuentre la población promedio de países con costa y países sin costa
# Pista: ¡Puedes usar groupby!
countries.groupby('coastline').mean().population

<ipython-input-82-6ba2a0d3bc37>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  countries.groupby('coastline').mean().population

coastline
no      5.367692
yes    20.947931
Name: population, dtype: float64

In [83]:
# Luego modifique para agrupar tanto por costa como por UE
countries.groupby(['coastline','EU']).mean()[['population']]

<ipython-input-83-0daae7641608>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  countries.groupby(['coastline','EU']).mean()[['population']]

               population
coastline EU
no        no     4.353750
          yes    6.990000
yes       no    19.595714
          yes   21.378182

In [84]:
cities.head(2)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10

In [85]:
countries.head(2)

   country  population  EU coastline
0  Albania        2.90  no       yes
1  Andorra        0.07  no        no

### Uniendo (Joining)

In [86]:
cities.merge(countries, on='country')#merge junta dataframes, en este caso agrega hacia la derecha la tabla countries
#cities-countries sera el nuevo dataframe, empareja de acuerto al country

,city,country,latitude,longitude,temperature,population,EU,coastline
0,Aalborg,Denmark,57.03,9.92,7.52,5.69,yes,yes
1,Odense,Denmark,55.40,10.38,7.73,5.69,yes,yes
2,Aberdeen,United Kingdom,57.17,-2.08,8.10,65.11,yes,yes
3,Belfast,United Kingdom,54.60,-5.96,8.48,65.11,yes,yes
4,Birmingham,United Kingdom,52.47,-1.92,8.81,65.11,yes,yes
5,Blackpool,United Kingdom,53.83,-3.05,9.15,65.11,yes,yes
6,Bournemouth,United Kingdom,50.73,-1.90,9.97,65.11,yes,yes
7,Bradford,United Kingdom,53.80,-1.75,8.39,65.11,yes,yes
8,Cambridge,United Kingdom,52.20,0.12,9.25,65.11,yes,yes
9,Dundee,United Kingdom,56.47,-3.00,6.40,65.11,yes,yes
...,...,...,...,...,...,...,...,...
203,Klaipeda,Lithuania,55.72,21.12,7.00,2.85,yes,yes
204,Vilnius,Lithuania,54.68,25.32,5.38,2.85,yes,yes
205,Ljubljana,Slovenia,46.06,14.51,9.27,2.07,yes,yes
206,Podgorica,Montenegro,42.47,19.27,9.99,0.63,no,yes
207,Rijeka,Croatia,45.33,14.45,9.27,4.23,yes,yes
208,Split,Croatia,43.52,16.47,12.46,4.23,yes,yes
209,Sarajevo,Bosnia and Herzegovina,43.85,13.38,9.60,3.80,no,yes
210,Skopje,Macedonia,42.00,21.43,9.36,2.08,no,no
211,Tallinn,Estonia,59.43,24.73,4.82,1.31,yes,yes
212,Tartu,Estonia,58.38,26.71,4.36,1.31,yes,yes

In [87]:
# La unión es simétrica
countries.merge(cities, on='country')

,country,population,EU,coastline,city,latitude,longitude,temperature
0,Albania,2.90,no,yes,Elbasan,41.12,20.08,15.18
1,Andorra,0.07,no,no,Andorra,42.50,1.52,9.60
2,Austria,8.57,yes,no,Graz,47.08,15.41,6.91
3,Austria,8.57,yes,no,Innsbruck,47.28,11.41,4.54
4,Austria,8.57,yes,no,Linz,48.32,14.29,6.79
5,Austria,8.57,yes,no,Salzburg,47.81,13.04,4.62
6,Austria,8.57,yes,no,Vienna,48.20,16.37,7.86
7,Belarus,9.48,no,no,Brest,52.10,23.70,6.73
8,Belarus,9.48,no,no,Hrodna,53.68,23.83,6.07
9,Belarus,9.48,no,no,Mazyr,52.05,29.27,6.25
...,...,...,...,...,...,...,...,...
203,United Kingdom,65.11,yes,yes,Blackpool,53.83,-3.05,9.15
204,United Kingdom,65.11,yes,yes,Bournemouth,50.73,-1.90,9.97
205,United Kingdom,65.11,yes,yes,Bradford,53.80,-1.75,8.39
206,United Kingdom,65.11,yes,yes,Cambridge,52.20,0.12,9.25
207,United Kingdom,65.11,yes,yes,Dundee,56.47,-3.00,6.40
208,United Kingdom,65.11,yes,yes,Edinburgh,55.95,-3.22,7.43
209,United Kingdom,65.11,yes,yes,Exeter,50.70,-3.53,10.14
210,United Kingdom,65.11,yes,yes,Glasgow,55.87,-4.25,8.60
211,United Kingdom,65.11,yes,yes,Inverness,57.47,-4.23,8.00
212,United Kingdom,65.11,yes,yes,Swansea,51.63,-3.95,9.73

### Funciones misceláneas

In [88]:
countries.head(3)

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no

In [89]:
cities.head(3)

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20

In [144]:
# Operaciones con strings - países con 'ia' en su nombre
countries[countries.country.str.contains('ia')]

                   country  population   EU coastline
0                  Albania        2.90   no       yes
2                  Austria        8.57  yes        no
5   Bosnia and Herzegovina        3.80   no       yes
6                 Bulgaria        7.10  yes       yes
7                  Croatia        4.23  yes       yes
11                 Estonia        1.31  yes       yes
21                  Latvia        1.96  yes       yes
23               Lithuania        2.85  yes       yes
25               Macedonia        2.08   no        no
32                 Romania       19.37  yes       yes
33                  Serbia        8.81   no        no
34                Slovakia        5.43  yes        no
35                Slovenia        2.07  yes       yes

In [146]:
countries[countries['country'].str.contains('ia')]#el código es el mismo que el anterior

                   country  population   EU coastline
0                  Albania        2.90   no       yes
2                  Austria        8.57  yes        no
5   Bosnia and Herzegovina        3.80   no       yes
6                 Bulgaria        7.10  yes       yes
7                  Croatia        4.23  yes       yes
11                 Estonia        1.31  yes       yes
21                  Latvia        1.96  yes       yes
23               Lithuania        2.85  yes       yes
25               Macedonia        2.08   no        no
32                 Romania       19.37  yes       yes
33                  Serbia        8.81   no        no
34                Slovakia        5.43  yes        no
35                Slovenia        2.07  yes       yes

In [90]:
# Agregar una columna de grados fahrenheit
cities['fahrenheit'] = (cities.temperature * 9/5) + 32
cities

            city         country  latitude  longitude  temperature  fahrenheit
0        Aalborg         Denmark     57.03       9.92         7.52      45.536
1       Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
2         Abisko          Sweden     63.35      18.83         0.20      32.360
3          Adana          Turkey     36.99      35.32        18.67      65.606
4       Albacete           Spain     39.00      -1.87        12.62      54.716
5      Algeciras           Spain     36.13      -5.47        17.38      63.284
6         Amiens          France     49.90       2.30        10.17      50.306
7      Amsterdam     Netherlands     52.35       4.92         8.93      48.074
8         Ancona           Italy     43.60      13.50        13.52      56.336
9        Andorra         Andorra     42.50       1.52         9.60      49.280
..           ...             ...       ...        ...          ...         ...
203       Vienna         Austria     48.20      16.37         7.86      46.148
204         Vigo           Spain     42.22      -8.73        12.85      55.130
205      Vilnius       Lithuania     54.68      25.32         5.38      41.684
206       Warsaw          Poland     52.25      21.00         7.20      44.960
207      Wroclaw          Poland     51.11      17.03         7.17      44.906
208  Yevpatoriya         Ukraine     45.20      33.36        10.02      50.036
209     Zaragoza           Spain     41.65      -0.89        14.17      57.506
210     Zhytomyr         Ukraine     50.25      28.66         6.67      44.006
211    Zonguldak          Turkey     41.43      31.78        10.64      51.152
212       Zurich     Switzerland     47.38       8.56         6.68      44.024

[213 rows x 6 columns]

In [91]:
cities['fahrenheit']=(cities['temperature']*9/5)+32   #Esta forma de escribir es la más usada
cities

            city         country  latitude  longitude  temperature  fahrenheit
0        Aalborg         Denmark     57.03       9.92         7.52      45.536
1       Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
2         Abisko          Sweden     63.35      18.83         0.20      32.360
3          Adana          Turkey     36.99      35.32        18.67      65.606
4       Albacete           Spain     39.00      -1.87        12.62      54.716
5      Algeciras           Spain     36.13      -5.47        17.38      63.284
6         Amiens          France     49.90       2.30        10.17      50.306
7      Amsterdam     Netherlands     52.35       4.92         8.93      48.074
8         Ancona           Italy     43.60      13.50        13.52      56.336
9        Andorra         Andorra     42.50       1.52         9.60      49.280
..           ...             ...       ...        ...          ...         ...
203       Vienna         Austria     48.20      16.37         7.86      46.148
204         Vigo           Spain     42.22      -8.73        12.85      55.130
205      Vilnius       Lithuania     54.68      25.32         5.38      41.684
206       Warsaw          Poland     52.25      21.00         7.20      44.960
207      Wroclaw          Poland     51.11      17.03         7.17      44.906
208  Yevpatoriya         Ukraine     45.20      33.36        10.02      50.036
209     Zaragoza           Spain     41.65      -0.89        14.17      57.506
210     Zhytomyr         Ukraine     50.25      28.66         6.67      44.006
211    Zonguldak          Turkey     41.43      31.78        10.64      51.152
212       Zurich     Switzerland     47.38       8.56         6.68      44.024

[213 rows x 6 columns]

In [92]:
# A veces se necesita un "dataframe" temporal
# Ciudades con latitud > 50 que no se encuentren en la UE (error luego corregir)

temp = cities.merge(countries, on='country')

temp[(temp.latitude > 50) & (temp.EU == 'no')]

,city,country,latitude,longitude,temperature,fahrenheit,population,EU,coastline
135,Bergen,Norway,60.39,5.32,1.75,35.150,5.27,no,yes
136,Bodo,Norway,67.25,14.40,4.50,40.100,5.27,no,yes
137,Oslo,Norway,59.92,10.75,2.32,36.176,5.27,no,yes
138,Stavanger,Norway,58.97,5.68,5.53,41.954,5.27,no,yes
139,Trondheim,Norway,63.42,10.42,4.53,40.154,5.27,no,yes
151,Chernihiv,Ukraine,51.50,31.30,5.92,42.656,44.62,no,yes
155,Kiev,Ukraine,50.43,30.52,6.88,44.384,44.62,no,yes
160,Rivne,Ukraine,50.62,26.25,6.76,44.168,44.62,no,yes
161,Sumy,Ukraine,50.92,34.78,6.28,43.304,44.62,no,yes
163,Zhytomyr,Ukraine,50.25,28.66,6.67,44.006,44.62,no,yes
168,Brest,Belarus,52.10,23.70,6.73,44.114,9.48,no,no
169,Hrodna,Belarus,53.68,23.83,6.07,42.926,9.48,no,no
170,Mazyr,Belarus,52.05,29.27,6.25,43.250,9.48,no,no
171,Minsk,Belarus,53.90,27.57,5.28,41.504,9.48,no,no
172,Orsha,Belarus,54.52,30.42,4.93,40.874,9.48,no,no
173,Pinsk,Belarus,52.13,26.09,6.42,43.556,9.48,no,no

In [93]:
# Solo se muestra el resultado de la última línea
# Antes de la última línea necesita usar print
#cities[cities.longitude > 35]
cities[cities['longitude'] < -5]

          city         country  latitude  longitude  temperature  fahrenheit
5    Algeciras           Spain     36.13      -5.47        17.38      63.284
17     Badajoz           Spain     38.88      -6.97        15.61      60.098
24     Belfast  United Kingdom     54.60      -5.96         8.48      47.264
42       Braga        Portugal     41.55      -8.42        13.42      56.156
67        Cork         Ireland     51.90      -8.50         9.41      48.938
74      Dublin         Ireland     53.33      -6.25         8.49      47.282
88      Galway         Ireland     53.27      -9.05        10.00      50.000
103     Huelva           Spain     37.25      -6.93        17.09      62.762
126     Lisbon        Portugal     38.72      -9.14        15.52      59.936
155     Oviedo           Spain     43.35      -5.83        10.85      51.530
174  Salamanca           Spain     40.97      -5.67        11.63      52.934
204       Vigo           Spain     42.22      -8.73        12.85      55.130

### <font color="green">**Tu turno**</font>

In [ ]:
# Determinar la temperatura media de las ciudades de la UE y la temperatura
# media de las ciudades de fuera de la UE, antes y después del "Brexit".

# Es decir, para un par de promedios use los países actuales de la UE y los
# países no pertenecientes a la UE, y para el otro par pretenda que el
# Reino Unido no está en la UE.

#¡Imprima los cuatro números y asegúrese de etiquetar cuál es cuál!

#---

# Sugerencia: puede resolver esto en solo cinco líneas creando un "dataframe"
# unido y luego promediando las temperaturas para cuatro conjuntos diferentes
# de condiciones en el "dataframe".

# Nota: Para el 'or' de dos condiciones en pandas, use '|' en vez de '&'


citiesext = cities.merge(countries, on='country')

print('EU before Brexit:',\
      np.average(citiesext[citiesext.EU == 'yes'].temperature))
print('Non-EU before Brexit:',\
      np.average(citiesext[citiesext.EU == 'no'].temperature))
print('EU after Brexit:',\
      np.average(citiesext[(citiesext.EU == 'yes') &\
                           (citiesext.country != 'United Kingdom')].temperature))
print('Non-EU after Brexit:',\
      np.average(citiesext[(citiesext.EU == 'no') |\
                         (citiesext.country == 'United Kingdom')].temperature))

EU before Brexit: 9.694133333333335
Non-EU before Brexit: 9.03047619047619
EU after Brexit: 9.793211678832117
Non-EU after Brexit: 8.965394736842105

### <font color="green">**Tu turno: World Cup Data**</font>

In [94]:
# Leer los datos de jugadores y equipos en "dataframes".

players = pd.read_csv('/content/drive/MyDrive/Python2022_MachineLearning/Players.csv')

teams = pd.read_csv('/content/drive/MyDrive/Python2022_MachineLearning/Teams.csv')

In [95]:
players.head(2)

   surname     team    position  minutes  shots  passes  tackles  saves
0   Abdoun  Algeria  midfielder       16      0       6        0      0
1  Belhadj  Algeria    defender      270      1     146        8      0

In [96]:
teams.head(2)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0

In [100]:
chile=players[players.team.str.contains("Chile")]
len(chile)
chile1=players[players['team'] == "Chile"] #filtra lo mismo
chile1

        surname   team    position  minutes  shots  passes  tackles  saves
96   Beausejour  Chile  midfielder      360      2     100        7      0
97        Bravo  Chile  goalkeeper      360      0      58        0      4
98      Carmona  Chile  midfielder      270      1     175        9      0
99    Contreras  Chile    defender       54      0      17        1      0
100     Estrada  Chile  midfielder       37      1      16        2      0
101   Fernandez  Chile  midfielder      155      1      72        2      0
102     Fuentes  Chile    defender       90      0      27        3      0
103    Gonzalez  Chile  midfielder      138     10      41        6      0
104        Isla  Chile    defender      332      1     123       10      0
105        Jara  Chile    defender      308      1     187        8      0
106       Medel  Chile    defender      270      1     123        7      0
107      Millar  Chile  midfielder      125      1      80        3      0
108    Orellana  Chile     forward       25      1       7        0      0
109     Paredes  Chile     forward       70      3      11        5      0
110       Ponce  Chile    defender      270      2     113        4      0
111       Suazo  Chile     forward      135      4      39        1      0
112     Sanchez  Chile     forward      335      7     113       13      0
113       Tello  Chile  midfielder       45      0      29        1      0
114    Valdivia  Chile     forward      222      3      91        3      0
115       Vidal  Chile    defender      306      6     178       17      0

In [103]:
players['team'].unique()

array(['Algeria', 'Argentina', 'Australia', 'Brazil', 'Cameroon', 'Chile',
       'Denmark', 'England', 'France', 'Germany', 'Ghana', 'Greece',
       'Honduras', 'Italy', 'Ivory Coast', 'Japan', 'Mexico',
       'Netherlands', 'New Zealand', 'Nigeria', 'North Korea', 'Paraguay',
       'Portugal', 'Serbia', 'Slovakia', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Switzerland', 'Uruguay', 'USA'],
      dtype=object)

In [110]:
argentina=players[players['team'] == "Argentina"]
argentina

,surname,team,position,minutes,shots,passes,tackles,saves
18,Aguero,Argentina,forward,106,2,57,2,0
19,Bolatti,Argentina,midfielder,98,2,97,4,0
20,Burdisso,Argentina,defender,341,1,167,1,0
21,Demichelis,Argentina,defender,450,1,218,7,0
22,Di Maria,Argentina,midfielder,356,7,148,12,0
23,Gutierrez,Argentina,midfielder,191,0,83,11,0
24,Heinze,Argentina,defender,360,3,188,6,0
25,Higuain,Argentina,forward,341,13,93,5,0
26,Mascherano,Argentina,midfielder,360,0,237,19,0
27,Maxi Rodriguez,Argentina,midfielder,346,2,218,9,0
28,Messi,Argentina,forward,450,21,321,10,0
29,Milito,Argentina,forward,91,0,33,0,0
30,Otamendi,Argentina,defender,250,0,141,6,0
31,Palermo,Argentina,forward,10,3,8,0,0
32,Pastore,Argentina,midfielder,37,2,44,3,0
33,Rodriguez,Argentina,defender,90,1,72,1,0
34,Romero,Argentina,goalkeeper,450,0,47,0,10
35,Samuel,Argentina,defender,114,2,43,1,0
36,Tevez,Argentina,forward,324,6,164,7,0
37,Veron,Argentina,midfielder,185,3,235,10,0

In [111]:
len(argentina)

20

In [108]:
players['team'].value_counts() #Value_counts cuenta cuantas veces se repite una palabra
#Por ejemplo argentina se repite 20 veces

Slovakia        21
Uruguay         21
Paraguay        20
Cameroon        20
Chile           20
Spain           20
Argentina       20
Portugal        20
Honduras        19
Serbia          19
South Africa    19
Italy           19
USA             19
Ghana           19
Germany         19
France          19
England         19
Denmark         19
Brazil          19
Australia       19
Greece          19
Switzerland     18
Algeria         18
Nigeria         18
Netherlands     18
Japan           18
Mexico          18
South Korea     17
Ivory Coast     16
North Korea     15
Slovenia        15
New Zealand     15
Name: team, dtype: int64

In [112]:
players.head(2)

   surname     team    position  minutes  shots  passes  tackles  saves
0   Abdoun  Algeria  midfielder       16      0       6        0      0
1  Belhadj  Algeria    defender      270      1     146        8      0

In [124]:
#Realizar un filtro de todos aquellos equipos que contienen 'ia', los minutos sean menores a 200 y passes mayores 100

players[(players['team'].str.contains('ia')) & (players['minutes']<200) & (players['passes']>50)]

        surname       team    position  minutes  shots  passes  tackles  saves
41       Carney  Australia    defender      180      0      56        4      0
51        Moore  Australia    defender      180      1      91        3      0
358      Haruna    Nigeria  midfielder      180      1      77        3      0
362       Obasi    Nigeria     forward      195      6      62        8      0
367        Uche    Nigeria  midfielder      196      6      73        2      0
431  Kuzmanovic     Serbia  midfielder      180      4     103        1      0
433     Lukovic     Serbia    defender      164      1      98        6      0
435    Ninkovic     Serbia  midfielder      160      1      91        2      0
452       Kozak   Slovakia  midfielder       90      0      66        3      0
453       Kucka   Slovakia  midfielder      181      4      71       10      0
461       Stoch   Slovakia  midfielder      193      2      76        1      0

In [127]:
players[(players['team'].str.contains('ia')) & (players['minutes']<200) & (players['passes']>50)].sort_values('surname')

        surname       team    position  minutes  shots  passes  tackles  saves
41       Carney  Australia    defender      180      0      56        4      0
358      Haruna    Nigeria  midfielder      180      1      77        3      0
452       Kozak   Slovakia  midfielder       90      0      66        3      0
453       Kucka   Slovakia  midfielder      181      4      71       10      0
431  Kuzmanovic     Serbia  midfielder      180      4     103        1      0
433     Lukovic     Serbia    defender      164      1      98        6      0
51        Moore  Australia    defender      180      1      91        3      0
435    Ninkovic     Serbia  midfielder      160      1      91        2      0
362       Obasi    Nigeria     forward      195      6      62        8      0
461       Stoch   Slovakia  midfielder      193      2      76        1      0
367        Uche    Nigeria  midfielder      196      6      73        2      0

In [126]:
players[players.team.str.contains('ia')]\
   [(players.minutes<200) & (players.passes>100)]

<ipython-input-126-2596fbf04922>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  players[players.team.str.contains('ia')]\

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [128]:
# ¿Qué jugador de un equipo con “ia” en el nombre del equipo jugó menos de
# 200 minutos y realizó más de 100 pases? Imprime el apellido del jugador.

result= players[players.team.str.contains('ia')]\
        [(players.minutes<200) & (players.passes>100)]\
        .sort_values("surname")
result

<ipython-input-128-d57cfbf8bb36>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result= players[players.team.str.contains('ia')]\

        surname    team    position  minutes  shots  passes  tackles  saves
431  Kuzmanovic  Serbia  midfielder      180      4     103        1      0

In [129]:
players['position'].unique()

array(['midfielder', 'defender', 'goalkeeper', 'forward'], dtype=object)

In [ ]:
# ¿Cuál es el promedio de pases que hacen los delanteros? ¿y por mediocampistas?
# Asegúrese de que la respuesta especifique cuál es cuál y no incluya otras
# posiciones en su resultado.

print('midfielder:',np.average(players[players.position == 'midfielder'].passes))
print('forward:',np.average(players[players.position == 'forward'].passes))

midfielder: 95.2719298245614
forward: 50.82517482517483

In [136]:
f1=players[players['position']=='forward']
mean(f1['passes'])

50.82517482517483

In [138]:
print('El promedio de passes de los jugadores delanteros es:', mean(players[players['position']=='forward'].passes))
print('El promedio de passes de los jugadores mediocampista es:', mean(players[players['position']=='midfielder'].passes))

El promedio de passes de los jugadores delanteros es: 50.82517482517483
El promedio de passes de los jugadores mediocampista es: 95.2719298245614

In [ ]:
# ¿Qué equipo tiene el "ratio" más alto de goles a favor con goles en contra?
# Imprimir solo el equipo.
# Sugerencia: agregue una columna de "ratio" al "dataframe" de los equipos,
# luego ordene y use head(1) o tail(1) dependiendo de cómo los haya ordenado.

teams["ratio"]=(teams.goalsFor)-(teams.goalsAgainst)
#teams.sort_values("ratio")
#teams
max_x = teams.loc[teams['ratio'].idxmax()]
max_x

team            Germany
ranking               6
games                 6
wins                  4
draws                 0
losses                2
goalsFor             13
goalsAgainst          3
yellowCards           8
redCards              1
ratio                10
Name: 5, dtype: object

In [ ]:
min_x = teams.loc[teams['ratio'].idxmin()]
min_x

team            North Korea
ranking                 105
games                     3
wins                      0
draws                     0
losses                    3
goalsFor                  1
goalsAgainst             12
yellowCards               2
redCards                  0
ratio                   -11
Name: 31, dtype: object

In [ ]:
players.head(2)

   surname     team    position  minutes  shots  passes  tackles  saves
0   Abdoun  Algeria  midfielder       16      0       6        0      0
1  Belhadj  Algeria    defender      270      1     146        8      0

In [ ]:
teams.head(2)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards,ratio
0,Brazil,1,5,3,1,1,9,4,7,2,5
1,Spain,2,6,5,0,1,7,2,3,0,5

In [ ]:
# ¿Cuántos jugadores que juegan en un equipo con ranking <10 jugaron
# más de 350 minutos?
# Recordatorio: len() da el número de filas en un "dataframe"

temp1 = players.merge(teams, on='team')
temp2=temp1[(temp1.ranking <10) & (temp1.minutes >350)]
len(temp2)

54

### <font color="green">**Tu turno: Titanic Data**</font>

In [ ]:
# Lea los datos del Titanic en un "dataframe"

titanic = pd.read_csv("/content/Titanic.csv")

In [ ]:
titanic.head()

,last,first,gender,age,class,fare,embarked,survived
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25,Southampton,no
3,Abelson,Mr. Samuel,M,30.0,2,24.00,Cherbourg,no
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00,Cherbourg,yes

In [ ]:
titanic[titanic["age"]>70]#titanic[titanic.age>70], ambos códigos resultan lo mismo.

,last,first,gender,age,class,fare,embarked,survived
39,Artagaveytia,Mr. Ramon,M,71.0,1,49.50,Cherbourg,no
66,Barkworth,Mr. Algernon Henry Wilson,M,80.0,1,30.00,Southampton,yes
178,Connors,Mr. Patrick,M,70.5,3,7.75,Queenstown,no
296,Goldschmidt,Mr. George B,M,71.0,1,34.65,Cherbourg,no
800,Svensson,Mr. Johan,M,74.0,3,7.78,Southampton,no

In [ ]:
titanic[titanic.age>50].head(2)

,last,first,gender,age,class,fare,embarked,survived
33,Andrews,Miss Kornelia Theodosia,F,63.0,1,77.96,Southampton,yes
36,Appleton,Mrs. Edward Dale (Charlotte Lamson),F,53.0,1,51.48,Southampton,yes

In [ ]:
titanic[(titanic["age"]>55) & (titanic["gender"]=="F")]

,last,first,gender,age,class,fare,embarked,survived
33,Andrews,Miss Kornelia Theodosia,F,63.0,1,77.96,Southampton,yes
95,Bonnell,Miss Elizabeth,F,58.0,1,26.55,Southampton,yes
307,Graham,Mrs. William Thompson (Edith Junkins),F,58.0,1,153.46,Southampton,yes
499,Lurette,Miss Elise,F,58.0,1,146.52,Cherbourg,yes
500,Mack,Mrs. (Mary),F,57.0,2,10.50,Southampton,no
672,Potter,Mrs. Thomas Jr (Lily Alexenia Wilson),F,56.0,1,83.16,Cherbourg,yes
789,Stone,Mrs. George Nelson (Martha Evelyn),F,62.0,1,80.00,Southampton,yes
829,Turkula,Mrs. (Hedwig),F,63.0,3,9.59,Southampton,yes
851,Warren,Mrs. Frank Manley (Anna Sophia Atkinson),F,60.0,1,75.25,Cherbourg,yes

In [ ]:
titanic[(titanic.age>55) & (titanic.gender=="F")]#El codigo arroja el mismo resultado que el anterior (==(igual) y !=(diferente), &(y) y |(o))
#titanic[(titanic["age"]>55) & (titanic["gender"]=="F")]

,last,first,gender,age,class,fare,embarked,survived
33,Andrews,Miss Kornelia Theodosia,F,63.0,1,77.96,Southampton,yes
95,Bonnell,Miss Elizabeth,F,58.0,1,26.55,Southampton,yes
307,Graham,Mrs. William Thompson (Edith Junkins),F,58.0,1,153.46,Southampton,yes
499,Lurette,Miss Elise,F,58.0,1,146.52,Cherbourg,yes
500,Mack,Mrs. (Mary),F,57.0,2,10.50,Southampton,no
672,Potter,Mrs. Thomas Jr (Lily Alexenia Wilson),F,56.0,1,83.16,Cherbourg,yes
789,Stone,Mrs. George Nelson (Martha Evelyn),F,62.0,1,80.00,Southampton,yes
829,Turkula,Mrs. (Hedwig),F,63.0,3,9.59,Southampton,yes
851,Warren,Mrs. Frank Manley (Anna Sophia Atkinson),F,60.0,1,75.25,Cherbourg,yes

In [ ]:
titanic.age.sort_values()
#titanic["age"] ambas códigos son iguales, pero esto titanic[["age"]] ya es un dataframe

811    0.42
326    0.67
55     0.75
54     0.75
127    0.83
692    0.83
17     0.92
576    1.00
633    1.00
76     1.00
       ...
855     NaN
871     NaN
872     NaN
874     NaN
876     NaN
878     NaN
879     NaN
885     NaN
886     NaN
889     NaN
Name: age, Length: 891, dtype: float64

In [ ]:
titanic.age.isnull().values.sum()#cuenta los cuantos registros de la columna edad son nulos.

177

In [ ]:
titanic[pd.isna(titanic["age"])]#isnull con isna tienen la misma funcion

,last,first,gender,age,class,fare,embarked,survived
69,Baumann,Mr. John D,M,NaN,1,25.93,Southampton,no
97,Boulos,Mrs. Joseph (Sultana),F,NaN,3,15.25,Cherbourg,no
98,Boulos,Mr. Hanna,M,NaN,3,7.23,Cherbourg,no
101,Bourke,Miss Mary,F,NaN,3,7.75,Queenstown,no
106,Bradley,"Mr. George (""George Arthur Brayton"")",M,NaN,1,26.55,Southampton,yes
109,Brewe,Dr. Arthur Jackson,M,NaN,1,39.60,Cherbourg,no
125,Cairns,Mr. Alexander,M,NaN,1,31.00,Southampton,no
132,Campbell,Mr. William,M,NaN,2,0.00,Southampton,no
135,Caram,Mrs. Joseph (Maria Elias),F,NaN,3,14.46,Cherbourg,no
157,Chibnall,Mrs. (Edith Martha Bowerman),F,NaN,1,55.00,Southampton,yes
...,...,...,...,...,...,...,...,...
855,Webber,Mr. James,M,NaN,3,8.05,Southampton,no
871,Willey,Mr. Edward,M,NaN,3,7.55,Southampton,no
872,Williams,Mr. Charles Eugene,M,NaN,2,13.00,Southampton,yes
874,Williams,"Mr. Howard Hugh ""Harry""",M,NaN,3,8.05,Southampton,no
876,Williams-Lambert,Mr. Fletcher Fellows,M,NaN,1,35.00,Southampton,no
878,Wiseman,Mr. Phillippe,M,NaN,3,7.25,Southampton,no
879,Woolner,Mr. Hugh,M,NaN,1,35.50,Southampton,yes
885,Yousif,Mr. Wazli,M,NaN,3,7.23,Cherbourg,no
886,Yousseff,Mr. Gerious,M,NaN,3,14.46,Cherbourg,no
889,Zabour,Miss Thamine,F,NaN,3,14.45,Cherbourg,no

In [ ]:
# ¿Cuántas mujeres casadas mayores de 50 años se embarcaron en Cherbourg?
# Nota: 'first' es una función en Pandas, por lo que 'titanic.first' generará un error.
# use 'titanic['first'] en su lugar

result = titanic[titanic["first"].str.contains('Mrs')]\
          [(titanic.age > 50) & (titanic.embarked == "Cherbourg")]\
          .sort_values("last")
result

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,last,first,gender,age,class,fare,embarked,survived
672,Potter,Mrs. Thomas Jr (Lily Alexenia Wilson),F,56.0,1,83.16,Cherbourg,yes
709,Rothschild,Mrs. Martin (Elizabeth L. Barrett),F,54.0,1,59.40,Cherbourg,yes
787,Stephenson,Mrs. Walter Bertram (Martha Eustis),F,52.0,1,78.27,Cherbourg,yes
851,Warren,Mrs. Frank Manley (Anna Sophia Atkinson),F,60.0,1,75.25,Cherbourg,yes

In [ ]:
from pandas._libs.algos import ensure_int64
# ¿A cuántos pasajeros les falta su edad y cuál es la tarifa
# promedio que pagan estos pasajeros?
# NOTA: Los valores que faltan en Pandas son nulos,
# se imprimen como 'NaN' y la función pd.isnull(v)
# verifica si un valor es nulo.

print("pasajeros sin edad:",titanic["age"].isnull().values.sum())
print('Promedio:',np.average(titanic[titanic.age.isnull()].fare))

pasajeros sin edad: 177
Promedio: 22.15949152542373

In [ ]:
# ¿Cuál es la tarifa promedio pagada por los pasajeros en las tres clases,
# y la edad promedio de los pasajeros en dichas clases?

titanic.groupby(['class']).mean()[['fare','age']]

            fare        age
class
1      84.155000  38.233441
2      20.662228  29.877630
3      13.676864  25.140620

In [ ]:
# ¿Cuál fue la tarifa más alta pagada por un sobreviviente
# masculino, una sobreviviente femenina, un no sobreviviente
# masculino y una no sobreviviente femenina? (cuatro números)

titanic.groupby(['gender',"survived"]).max()[['fare']]

                   fare
gender survived
F      no        151.55
       yes       512.33
M      no        263.00
       yes       512.33

In [ ]:
from numpy.ma.core import count
# ¿Cuál es la tasa de supervivencia de los pasajeros en las tres clases,
# es decir, qué fracción de pasajeros en cada clase sobrevivió?
# ¿Cuál es la tasa de supervivencia de las mujeres frente a los hombres?
# ¿De niños (menores de 18 años) versus adultos (de 18 años o más)?

# NOTA: Las edades que faltan fallan automáticamente en las comparaciones
# como en SQL, y 'clase' es una función en Pandas, por lo que 'titanic.class'
# generará un error; use 'titanic['class'] en su lugar.

#print(titanic["survived"].value_counts())

print('First class:', len(titanic[(titanic['class'] == 1) & (titanic.survived == 'yes')])\
      /len(titanic[(titanic['class'] == 1)]))

print('Second class:', len(titanic[(titanic['class'] == 2) & (titanic.survived == 'yes')])\
      /len(titanic[(titanic['class'] == 2)]))

print('Third class:', len(titanic[(titanic['class'] == 3) & (titanic.survived == 'yes')])\
      /len(titanic[(titanic['class'] == 3)]))

print('mujeres/hombres:', len(titanic[(titanic['gender'] == "F") & (titanic.survived == 'yes')])\
      /len(titanic[(titanic['gender'] == "M") & (titanic.survived == 'yes')]))

print('niños/adultos:', len(titanic[(titanic['age'] < 18 ) & (titanic.survived == 'yes')])\
      /len(titanic[(titanic['age'] > 18) & (titanic.survived == 'yes')]))

First class: 0.6296296296296297
Second class: 0.47282608695652173
Third class: 0.24236252545824846
mujeres/hombres: 2.1376146788990824
niños/adultos: 0.2772727272727273

In [ ]:
titanic.head(2)

,last,first,gender,age,class,fare,embarked,survived
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes

In [ ]:
titanic["edad meses"]=titanic.age*12

In [ ]:
#titanic["edad meses"]=titanic["age"]*12

In [ ]:
titanic

,last,first,gender,age,class,fare,embarked,survived,edad meses
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no,504.0
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes,420.0
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25,Southampton,no,192.0
3,Abelson,Mr. Samuel,M,30.0,2,24.00,Cherbourg,no,360.0
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00,Cherbourg,yes,336.0
5,Adahl,Mr. Mauritz Nils Martin,M,30.0,3,7.25,Southampton,no,360.0
6,Adams,Mr. John,M,26.0,3,8.05,Southampton,no,312.0
7,Ahlin,Mrs. Johan (Johanna Persdotter Larsson),F,40.0,3,9.48,Southampton,no,480.0
8,Aks,Mrs. Sam (Leah Rosen),F,18.0,3,9.35,Southampton,yes,216.0
9,Albimona,Mr. Nassef Cassem,M,26.0,3,18.79,Cherbourg,yes,312.0
...,...,...,...,...,...,...,...,...,...
881,Yasbeck,Mr. Antoni,M,27.0,3,14.45,Cherbourg,no,324.0
882,Yasbeck,Mrs. Antoni (Selini Alexander),F,15.0,3,14.45,Cherbourg,yes,180.0
883,Young,Miss Marie Grice,F,36.0,1,135.63,Cherbourg,yes,432.0
884,Youseff,Mr. Gerious,M,45.5,3,7.23,Cherbourg,no,546.0
885,Yousif,Mr. Wazli,M,NaN,3,7.23,Cherbourg,no,NaN
886,Yousseff,Mr. Gerious,M,NaN,3,14.46,Cherbourg,no,NaN
887,Yrois,"Miss Henriette (""Mrs Harbeck"")",F,24.0,2,13.00,Southampton,no,288.0
888,Zabour,Miss Hileni,F,14.5,3,14.45,Cherbourg,no,174.0
889,Zabour,Miss Thamine,F,NaN,3,14.45,Cherbourg,no,NaN
890,Zimmerman,Mr. Leo,M,29.0,3,7.88,Southampton,no,348.0

In [ ]:
del(titanic["edad meses"])#eliminamos la columna creada

In [ ]:
titanic

,last,first,gender,age,class,fare,embarked,survived
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25,Southampton,no
3,Abelson,Mr. Samuel,M,30.0,2,24.00,Cherbourg,no
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00,Cherbourg,yes
5,Adahl,Mr. Mauritz Nils Martin,M,30.0,3,7.25,Southampton,no
6,Adams,Mr. John,M,26.0,3,8.05,Southampton,no
7,Ahlin,Mrs. Johan (Johanna Persdotter Larsson),F,40.0,3,9.48,Southampton,no
8,Aks,Mrs. Sam (Leah Rosen),F,18.0,3,9.35,Southampton,yes
9,Albimona,Mr. Nassef Cassem,M,26.0,3,18.79,Cherbourg,yes
...,...,...,...,...,...,...,...,...
881,Yasbeck,Mr. Antoni,M,27.0,3,14.45,Cherbourg,no
882,Yasbeck,Mrs. Antoni (Selini Alexander),F,15.0,3,14.45,Cherbourg,yes
883,Young,Miss Marie Grice,F,36.0,1,135.63,Cherbourg,yes
884,Youseff,Mr. Gerious,M,45.5,3,7.23,Cherbourg,no
885,Yousif,Mr. Wazli,M,NaN,3,7.23,Cherbourg,no
886,Yousseff,Mr. Gerious,M,NaN,3,14.46,Cherbourg,no
887,Yrois,"Miss Henriette (""Mrs Harbeck"")",F,24.0,2,13.00,Southampton,no
888,Zabour,Miss Hileni,F,14.5,3,14.45,Cherbourg,no
889,Zabour,Miss Thamine,F,NaN,3,14.45,Cherbourg,no
890,Zimmerman,Mr. Leo,M,29.0,3,7.88,Southampton,no

In [ ]:
#titanic.drop(["embarked","survived"],axis=1,inplace=True)#eliminadmos dos columnas y con inplace guarda ese cambio en el dataframe titanic
titanic=titanic.drop(["embarked","survived"],axis=1)#ambos codigos son iguales

In [ ]:
titanic

,last,first,gender,age,class,fare
0,Abbing,Mr. Anthony,M,42.0,3,7.55
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25
3,Abelson,Mr. Samuel,M,30.0,2,24.00
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00
5,Adahl,Mr. Mauritz Nils Martin,M,30.0,3,7.25
6,Adams,Mr. John,M,26.0,3,8.05
7,Ahlin,Mrs. Johan (Johanna Persdotter Larsson),F,40.0,3,9.48
8,Aks,Mrs. Sam (Leah Rosen),F,18.0,3,9.35
9,Albimona,Mr. Nassef Cassem,M,26.0,3,18.79
...,...,...,...,...,...,...
881,Yasbeck,Mr. Antoni,M,27.0,3,14.45
882,Yasbeck,Mrs. Antoni (Selini Alexander),F,15.0,3,14.45
883,Young,Miss Marie Grice,F,36.0,1,135.63
884,Youseff,Mr. Gerious,M,45.5,3,7.23
885,Yousif,Mr. Wazli,M,NaN,3,7.23
886,Yousseff,Mr. Gerious,M,NaN,3,14.46
887,Yrois,"Miss Henriette (""Mrs Harbeck"")",F,24.0,2,13.00
888,Zabour,Miss Hileni,F,14.5,3,14.45
889,Zabour,Miss Thamine,F,NaN,3,14.45
890,Zimmerman,Mr. Leo,M,29.0,3,7.88

UNION DE DOS DATAFRAME UNO DEBAJO DE OTRO

In [ ]:
#new=l1106.append(l1107)#Sea el primer dataframe l1106 y el otro l1107